p {
	color: rgb(234, 241, 234);
	font-size: 20pt;
	font-family: times
}

h1 {
	color: brown;
	font-size: 25pt;
	font-family: arial
}

body {
	background-image: url(tlo.jpg)
}

table {
	width: 1000px;
	background-color: rgb(236, 225, 227);
	border-collapse: collapse;
	margin:auto;
}

td {
	border-style: solid;
	border-color: blue;
}